<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" >
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>CodePen - Bootstrap Snippet: Login Form</title>
  <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
<nav class="navbar">
  <span class="navbar-brand mb-0 h1">Hospital Mnagement</span>
  <span class="navbar-text">
      <a href="{% url 'logout' %}">Log out</a>
    </span>

</nav>
<!-- partial:index.partial.html -->
<div class="wrapper">
    <div class="form-signin">
    <h2 class="form-signin-heading">Hello {% if request.user.is_doctor %} Dr. {%endif%} {{request.user.first_name}} {{request.user.last_name}}</h2>
    {% if appointments %}
    {% for appointment in appointments %}
        <p> Doctor : {{appointment.doctor}} ---- Patient : {{appointment.patient}}</p>
        <p> Date : {{appointment.date}}  ---- Time : {{appointment.time}}</p>
        ------------------------------------
    {% endfor %}
    {% else %}
        <p> There isn't any appointments</p>
    {%endif%}
        <button class="btn btn-lg btn-warning btn-block" type="button"><a href="{% if request.user.is_doctor %} {% url 'appointment_create' %} {% else %} {% url 'doctor_list' %}  {% endif %}"  >   {% if request.user.is_doctor %} create {% else %} book {% endif %} appointment </a></button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- partial -->
</body>
</html>
