{% extends "login.html" %}
{%block section %}
<div class="wrapper">
    <form method="post" class="form-signin">
      {% csrf_token %}
      <h2 class="form-signin-heading">Please login</h2>
        <label for="id_date">Date</label><input type="text" class="form-control" name="date" required="" id="id_date">
        <label for="id_time">Time</label><input type="text" class="form-control" name="time" required="" id="id_time">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>

        {% if errors %}
        <div class="alert-danger alert">
            {% for error in errors.values %}
                {{error|striptags}}
            {% endfor %}
        </div>
        {% endif %}

    </form>
  </div>
{%endblock%}