{% extends "login.html" %}
{% block section %}
<div class="wrapper">
    <div class="form-signin">
    <h2 class="form-signin-heading">Chose Date</h2>
     {% if appointments %}
    {% for item in appointments %}
        <p> {{item.doctor}}</p>
        <p> {{item.date}} </p>
        <p> {{item.time}}</p>
        <button class="btn " type="button"><a href="{% url 'appointment_book' item.id %}"> book appointment</a></button>
        <p>------------------------------------</p>
    {% endfor %}
    {% else %}
        <p> There isn't any appointments</p>
    </div>
    {%endif%}
</div>
{% endblock %}
