<!DOCTYPE html>
<html lang="en" >
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>CodePen - Bootstrap Snippet: Login Form</title>
  <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
{% if validlink %}
<div class="wrapper">
    <form method="post" class="form-signin">
        {% csrf_token %}
      <h2 class="form-signin-heading">New Password</h2>
        <input type="password" class="form-control" name="new_password1" placeholder="New Password" required="" autofocus="" />
        <input type="password" class="form-control" name="new_password2" placeholder="Confirm New Password" required="" autofocus="" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
    </form>
     {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
            </div>
            {% endfor %}
     {% endif %}
  </div>
    {%else%}
     <div class="alert alert-warning">
         The password reset link was invalid, possibly because it has already been used.
         Please request a new password reset.
     </div>
    {%endif%}
</div>
</body>
</html>